<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthUserRole</filter-name>
        <filter-class>filter.AuthUserRole</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthUserRole</filter-name>
        <servlet-name>DetailDummy</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthUserRole</filter-name>
        <servlet-name>RemoveDummy</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthUserRole</filter-name>
        <servlet-name>EditDummy</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthUserRole</filter-name>
        <servlet-name>AddDummy</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servelet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDummy</servlet-name>
        <servlet-class>servelet.AddDummy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailDummy</servlet-name>
        <servlet-class>servelet.DetailDummy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDummy</servlet-name>
        <servlet-class>servelet.EditDummy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LitstDummy</servlet-name>
        <servlet-class>servelet.LitstDummy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDummy</servlet-name>
        <servlet-class>servelet.RemoveDummy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDummy</servlet-name>
        <url-pattern>/AddDummy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailDummy</servlet-name>
        <url-pattern>/DetailDummy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDummy</servlet-name>
        <url-pattern>/EditDummy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LitstDummy</servlet-name>
        <url-pattern>/LitstDummy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDummy</servlet-name>
        <url-pattern>/RemoveDummy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            9999999
        </session-timeout>
    </session-config>
</web-app>
